$body-font: 'Poppins', sans-serif

$list-customers:#292D32
$nav-menu:#9197B3
$green-text:#008767
$red-text:#DF0404
$pink:#FFC5C5
$light-green:#16C098
$purple:#5932EA
$pug-button-text:#404B52
$dark-gray:#7E7E7E
$gray:#B5B7C0
$light-gray:#F9FBFF
$black:#000000
$version-gray:#838383
$white-color:#FFFFFF
$background:#fafbff
$gray-user:#757575
$gray-light:#EEEEEE
$light-green-tr:#a5e7d9

$txt-font-size:0.9rem
$h1-font-size:2.5rem
$h2-font-size:1.375rem
$h3-font-size:1.5rem
$tiny-font-size:0.625rem
$p-size: 0.875rem
$placeholder-size: 0.8rem

$medium-weight: 500
$regular-weight: 400
$bold-weight: 600

$animation: all 0.3s ease





