doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Dashboard
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(href=require('../../asset/img/Logo.svg') rel='icon')
        link(href=require('../../asset/sass/styles.sass'), rel='stylesheet')
        link(rel="reconnect" href="https://fonts.googleapis.com")
        link(rel="reconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap" rel="stylesheet")
    body
        include ../components/burger-menu
        main.content-wrapper
            .container
                aside.navigation
                    include ../components/logo-component
                    include ../components/nav-menu-list
                    include ../components/user-block
                .content-block
                    include ../components/greeting
                    .customers-block
                        include ../components/customers-block-head
                        .customers-table
                            include ../components/customers-table
                        .customers-table-navigation
                            include ../components/customers-table-navigation
        script(src=require('../main') type='module')