.burger-menu__wrapper
    .burger-menu__main
        .burger-menu__container
            .burger-menu__body
                include ../components/logo-component
                .burger-menu__close-btn
                    span
                .burger-menu__list-container
                    ul.burger-menu__list
                        li
                            p Test

