include ../components/svg-mixin

block append variables
    - const dataMenu = require('../../asset/data/menu-list.json')

.burger-menu__wrapper
    .burger-menu__main
        .burger-menu__container
            .burger-menu__body
                include ../components/logo-component
                .burger-menu__close-btn
                    span
                .burger-menu__list-container
                    ul.burger-menu__list
                        each item in dataMenu
                            li.list-navigation__item
                                button.button
                                    span.button__inner-container
                                        +menu-list-svg(item.name)
                                        span.button__text=item.name
                                    if item.arrow
                                    include ../../asset/img/nav-list-icon/arrow.svg


