.burger-menu__wrapper
    .burger-menu__main
        .burger-menu__container
            .burger-menu__body
                .logo-container
                    include ../../asset/img/Logo.svg
                    .logo-container__text
                        p.logo-text Dashboard
                        p.version-description v.01
                .burger-menu__close-btn
                    span
                ul
                    li
                    p Test

