include ../components/svg-mixin

block append variables
    - const dataList = require('../../asset/data/menu-list.json')

ul.list-navigation
    each item in dataList
        li.list-navigation__item
            button.button
                span.button__inner-container
                    +menu-list-svg(item.name)
                    span.button__text=item.name
                if item.arrow
                include ../../asset/img/nav-list-icon/arrow.svg