mixin menu-list-svg(name)
    case name
        when 'Dashboard'
            include ../../asset/img/nav-list-icon/Dashboard.svg
        when 'Product'
            include ../../asset/img/nav-list-icon/Product.svg
        when 'Customers'
            include ../../asset/img/nav-list-icon/Customers.svg
        when 'Income'
            include ../../asset/img/nav-list-icon/Income.svg
        when 'Promote'
            include ../../asset/img/nav-list-icon/Promote.svg
        when 'Help'
            include ../../asset/img/nav-list-icon/Help.svg