.user-block
    img(src=require('../../asset/img/user-img.png') class='user-block__image' alt="Evan's photo")
    .user-block__inner-container
        p.user-block__name Evano
        p.user-block__position Project Manager