@use '../abstract/variables' as *

table
  width: 100%
  table-layout: fixed

th
  color: $gray
  font-size: $p-size
  font-weight: $medium-weight
  text-align: left
  padding-bottom: 14px

th, td
  border-bottom: 1px solid $gray-light

th:nth-of-type(1)
  width: 19.7%
th:nth-of-type(2)
  width: 15%
th:nth-of-type(3)
  width: 17.5%
th:nth-of-type(4)
  width: 24%
th:nth-of-type(5)
  width: 16%

td
  color: $list-customers
  font-size: $p-size
  font-weight: $medium-weight
  padding: 18px 0
  letter-spacing: -0.5px

.status-button
  text-align: center
  font-size: $p-size
  border-radius: 4px
  padding: 6px 0
  letter-spacing: -1%

.active-status
  color: $green-text
  background: $light-green-tr
  padding-left: 20px
  padding-right: 20px
  border: 1px solid $green-text

.inactive-status
  color: $red-text
  background: $pink
  padding-left: 14px
  padding-right: 14px
  border: 1px solid $red-text