@use '../abstract/variables' as *

.list-navigation__button
  display: flex
  align-items: center
  background: transparent

.list-navigation__text
  color: $nav-menu
  font-size: $p-size

#income
  stroke: #5932EA
  fill: none



